<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body class="bg-light">
<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/jpg/logoAbernathy.PNG" alt="" width="30" height="24" class="d-inline-block align-text-top"/>
            Clinique Abernathy
        </a>
        <div class="d-flex w-50 justify-content-evenly" th:object="${theGivenPatient}">
        <a th:href="@{/}" type="submit" class="btn btn-primary pr-2">Return to List</a>
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<section >

    <div class="container text-center bg-white mt-3 shadow-sm " th:object="${theGivenNote}">
        <div class="d-flex flex-row justify-content-evenly" th:object="${theGivenPatient}">
            <h1 th:text="${theGivenPatient.firstName}"></h1>
            <h1 th:text="${theGivenPatient.lastName}"></h1>
        </div>
        <div class="row">
            <div class="col border shadow-lg">
              <span th:text="${theGivenNote.observation}" style="white-space: pre-line"></span>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
<div class="d-flex justify-content-between">

    <a  th:href="@{/modifySpecificNote/{id}(id=${theGivenNote.id})}" class="btn btn-primary">Modify the note</a>
    <a  th:href="@{/deleteANote/{id}(id=${theGivenNote.id})}" class="btn btn-danger" >Delete The Note</a>
</div>
</div>
</body>
</html>